.user-card{
    width:100%;
    min-height:95px;

    margin:16px 0;
    padding:22px 28px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    border-radius:20px;

    background:linear-gradient(
        135deg,
        #1e293b,
        #111827
    );

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
        0 12px 35px rgba(15,23,42,.35);

    transition:.35s ease;
}
.user-info{
    color:#3b82f6;
}

.user-card:hover{

    transform:translateY(-6px);

    border-color:#3b82f6;

    box-shadow:
        0 20px 45px rgba(37,99,235,.25);

    background:linear-gradient(
        135deg,
        #233876,
        #1f2937
    );
}


.user-left{

    display:flex;
    align-items:center;
    gap:18px;

    width:35%;
}

.avatar{

    width:60px;
    height:60px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;
    font-weight:700;

    color:#fff;

    background:linear-gradient(
        135deg,
        #3b82f6,
        #7c3aed
    );

    box-shadow:
        0 8px 20px rgba(59,130,246,.4);
}

.user-info h3{

    margin:0;

    color:#ffffff;

    font-size:20px;

    font-weight:700;
}

.user-info p{

    margin-top:6px;

    color:#cbd5e1;

    font-size:14px;
}

.user-middle{

    width:35%;

    display:flex;
    justify-content:space-around;

    color:#93c5fd;

    font-size:15px;
    font-weight:500;
}

.user-middle span{

    display:flex;
    align-items:center;
    gap:8px;
}


.user-actions{

    display:flex;
    gap:12px;
}

.user-actions button,
.user-actions a{

    padding:11px 20px;

    border:none;

    border-radius:12px;

    font-size:14px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    text-decoration:none;
}

/* View */

.view-btn{

    background:linear-gradient(
        135deg,
        #0ea5e9,
        #2563eb
    );

    color:white;
}

.view-btn:hover{

    transform:translateY(-2px);

    box-shadow:
        0 10px 22px rgba(14,165,233,.35);
}

/* Edit */

.edit-btn{

    background:linear-gradient(
        135deg,
        #8b5cf6,
        #6d28d9
    );

    color:white;
}

.edit-btn:hover{

    transform:translateY(-2px);

    box-shadow:
        0 10px 22px rgba(139,92,246,.35);
}

/* Delete */

.delete-btn{

    background:linear-gradient(
        135deg,
        #ef4444,
        #dc2626
    );

    color:white;
}

.delete-btn:hover{

    transform:translateY(-2px);

    box-shadow:
        0 10px 22px rgba(239,68,68,.35);
}